/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 9:57:53 AM
    Author     : congnv
*/

body { padding-top: 70px; }

img.app-photo-list {
    max-width: 35px;
    max-height: 35px;
    height: auto;
    width: auto;
    display: inline;
    vertical-align: top;
}

.page-header {
    margin-top: 0;
}

#toolbars {
    margin-top: 20px;
}

#UserPhotoPreview {
    max-width: 300px;
}